@import "@mantine/core/styles.css";
@import "@mantine/dropzone/styles.css";
@import "@mantine/carousel/styles.css";
@import "react-loading-skeleton/dist/skeleton.css";
@layer tailwind {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4;
  }

  .find-place-wrapper {
    background-image: url(/banner.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    position: relative;
  }

  .input-search-location:hover,
  .service-search-location:hover {
    box-shadow: inset 0 0 0 0.125rem #aaf40c;
  }

  .input-search-location:focus-within {
    box-shadow: inset 0 0 0 0.125rem #aaf40c;
  }

  .control {
    &[data-inactive] {
      opacity: 0;
      cursor: default;
    }
  }
}

body {
  font-family: "Outfit", sans-serif !important;
}
